<h2>{{ data.title | titlecase }} Info</h2>
<mat-dialog-content>
  <app-item-view
    [data]="data"
    [formValue]="form.value"
  ></app-item-view>

  <form [formGroup]="form">
    <app-textbox-control
      className="username"
      label="curtomer"
      controlName="customer"
      errorMessage="Customer is Required!!"
      matIconPrefix="person_pin"
      [form]="form"
      [required]="true"
    ></app-textbox-control>
    <app-select-control
      className="username"
      label="company"
      controlName="companyid"
      errorMessage="Company is Required"
      matIconPrefix="apartment"
      [dataOptions]="companies"
      [required]="true"
      [form]="form"
      [value]="data.content.companyid"
      selectValueAnchor="name"
    ></app-select-control>
    <app-textbox-control
      className="username"
      label="name"
      controlName="name"
      errorMessage="Name is Required!!"
      matIconPrefix="folder_shared"
      [form]="form"
      [required]="true"
    ></app-textbox-control>
    <app-textbox-control
      className="username"
      label="image"
      controlName="image"
      matIconPrefix="image"
      [form]="form"
    ></app-textbox-control>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button
    [disabled]="!form.valid"
    (click)="save()">Done</button>
  <button mat-button mat-dialog-close>Cancel</button>
</mat-dialog-actions>
