<h2>{{ data.title | titlecase }} Info</h2>
<mat-dialog-content>
  <app-item-view
    [data]="data"
    [formValue]="form.value"
  ></app-item-view>

  <form [formGroup]="form">
    <app-select-control
      className="username"
      label="origin"
      controlName="origin"
      [errorMessage]="OriginInfo.errorMessage"
      [form]="form"
      [required]="true"
      [dataOptions]="locations"
      selectValueAnchor="name"
      [value]="data.content.origin"
      matIconPrefix="trip_origin"
    ></app-select-control>
    <app-select-control
      className="username"
      label="destiny"
      controlName="destiny"
      [errorMessage]="destinyInfo.errorMessage"
      [form]="form"
      [required]="true"
      [dataOptions]="locations"
      selectValueAnchor="name"
      [value]="data.content.destiny"
      matIconPrefix="directions"
    ></app-select-control>
    <app-textbox-number-control
      className="username"
      label="value"
      controlName="value"
      errorMessage="Value is Required!!"
      matIconPrefix="filter_9_plus"
      matSuffix="KM"
      [form]="form"
      [required]="true"
    ></app-textbox-number-control>
    <app-textbox-control
      className="username"
      label="image"
      controlName="image"
      matIconPrefix="image"
      [form]="form"
    ></app-textbox-control>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button
    [disabled]="!form.valid || origin.value === destiny.value"
    (click)="save()">Done</button>
  <button mat-button mat-dialog-close>Cancel</button>
</mat-dialog-actions>
