<h2 mat-dialog-title>Create Item</h2>
<mat-dialog-content class="mat-typography">
  <app-form-object-question
    #formObj
    [objectItem]="questions"></app-form-object-question>
  <div class="mat-elevation-z2"
    *ngIf="formObj.formFromObject.value.image">
    <img [src]="formObj.formFromObject.value.image" width="300" height="350" />
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button
    [disabled]="!formObj.formStatus"
    (click)="createItem(formObj.formFromObject.value)">Done</button>
  <button mat-button mat-dialog-close>Cancel</button>
</mat-dialog-actions>
