
<div [formGroup]="form">
    <mat-form-field appearance="outline">
      <mat-label>{{ label | titlecase }}</mat-label>
      <span matPrefix>
        <mat-icon *ngIf="matIconPrefix">{{ matIconPrefix }}</mat-icon>
        {{ matPrefix }}</span>
      <button
        *ngIf="matIconButtonPrefix"
        mat-button matPrefix mat-icon-button aria-label="prefix"
        (click)="onClickButtonPrefix()">
        <mat-icon>{{ matIconButtonPrefix }}</mat-icon>
      </button>
        <input
          matInput
          autocomplete="off"
          [type]="type"
          [placeholder]="placeholder"
          [required]="required"
          [maxLength]="maxLength"
          [minLength]="minLength"
          [max]="max"
          [min]="min"
          [formControlName]="controlName" />

      <span matSuffix>
      <mat-icon *ngIf="matIconSuffix">{{ matIconSuffix }}</mat-icon>
      <button
        *ngIf="matIconButtonSuffix"
        mat-button matPrefix mat-icon-button aria-label="suffix"
        (click)="onClickButtonSuffix()">
        <mat-icon>{{ matIconButtonSuffix }}</mat-icon>
      </button>
        {{ matSuffix }}</span>
      <mat-hint align="start">{{ matHintStart }}</mat-hint>
      <mat-hint align="end">{{ matHintEnd }}</mat-hint>
      <mat-error>{{ errorMessage }}</mat-error>
    </mat-form-field>
  </div>
