:host {
  display: flex;
  justify-content: center;
  width: 100%;
  flex-flow: row wrap;
}

.product-card {
  display: inline-block;
  width: 300px;
  margin: 5px;
}
.product-header-image {
  background-size: cover;
}

