:host {
  width: 100%;
  height: 100%;
}
.content {
  display: flex;
  justify-content: center;
  height: 80%;
  flex-direction: row-reverse;
  flex-flow: row wrap;
}

.filter {
  height: 120px;
}

app-filter {
  position: fixed;
  right: 30px;
  z-index: 1;
}

.product-card {
  display: inline-block;
  width: 300px;
  margin: 5px;
}
.product-header-image {
  background-size: cover;
}

app-item-create {
  position: fixed;
  z-index: 500;
  bottom: 30px;
  right: 30px;
}

