<h2>{{ data.title | titlecase }} Info</h2>
<mat-dialog-content>
  <app-item-view
    [data]="data"
    [formValue]="form.value"
  ></app-item-view>

  <form [formGroup]="form">
    <app-select-control
      className="username"
      label="Carrier"
      controlName="carrierid"
      errorMessage="Carrier is Required"
      matIconPrefix="airline_seat_recline_normal"
      [dataOptions]="carriers"
      [required]="true"
      [form]="form"
      [value]="data.content.carrierid"
      selectValueAnchor="fullname"
    ></app-select-control>
    <app-textbox-number-control
      className="username"
      label="Capacity"
      controlName="capacity"
      errorMessage="Capacity is Required!!"
      matIconPrefix="storage"
      matSuffix="m3"
      [form]="form"
      [required]="true"
    ></app-textbox-number-control>
    <app-textbox-control
      className="username"
      label="Mark"
      controlName="mark"
      errorMessage="Mark is Required!!"
      matIconPrefix="atm"
      [form]="form"
      [required]="true"
    ></app-textbox-control>
    <app-textbox-control
      className="username"
      label="Plaque"
      controlName="plaque"
      errorMessage="Plaque is Required!!"
      matIconPrefix="font_download"
      [form]="form"
      [required]="true"
    ></app-textbox-control>
    <app-checkbox-control
      [form]="form"
      controlName="extension"
      label="Extension"
    ></app-checkbox-control>
    <app-textbox-number-control
      className="username"
      label="Capacity Extenstion"
      controlName="capacityextension"
      matIconPrefix="table_chart"
      matSuffix="m3"
      [form]="form"
      [required]="true"
    ></app-textbox-number-control>
    <app-checkbox-control
      [form]="form"
      controlName="status"
      label="Status"
    ></app-checkbox-control>
    <app-textbox-control
      className="username"
      label="image"
      controlName="image"
      matIconPrefix="image"
      [form]="form"
    ></app-textbox-control>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button
    [disabled]="!form.valid"
    (click)="save()">Done</button>
  <button mat-button mat-dialog-close>Cancel</button>
</mat-dialog-actions>
