<mat-toolbar>
  <mat-toolbar-row>
    <app-filter #filter
    [filtersSources]="filtersIcon"></app-filter>
  </mat-toolbar-row>
</mat-toolbar>
<app-table
  *ngIf="filter.value === 'list'; else cardView"
  [dataSource]="carriers"></app-table>
<ng-template #cardView>
  <mat-card
    class="product-card"
    *ngFor="let carrier of carriers">
    <mat-card-header>
      <div
        mat-card-avatar
        class="product-header-image"></div>
      <mat-card-title>{{ carrier.name }}</mat-card-title>
      <mat-card-subtitle>{{ carrier.name }}</mat-card-subtitle>
    </mat-card-header>

    <img mat-card-image
      [src]="carrier.image" width="300" height="150" alt="Carrier Image" />
    <p>{{ carrier.quantity }}  in stock</p>

    <mat-card-actions>
      <button mat-button (click)="openFormDialog(carrier)">ENTER</button>
      <button mat-button>CANCEL</button>
    </mat-card-actions>

  </mat-card>
</ng-template>
