.item-card {
  max-width: 250px;
  display: inline-block;
  margin: 5px;
}

.item-header-image {
  background-size: cover;
}

.word-wrap {
  word-wrap: break-word;
}

mat-card-header button {
  position: absolute;
  top: 0;
  right: 0;
}

mat-card-header button mat-icon {
  font-size: 15px;
}

