:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  align-content: center;
  align-items: center;
}

mat-card {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 400px;
  padding: 85px 0;
}

mat-card-actions, mat-card-header, mat-card-content {
  display: flex;
  justify-content: center;
}


a {
  display: block;
  text-align: center;
}
