<h2>{{ data.title | titlecase }} Info</h2>
<mat-dialog-content>
  <app-item-view
    [data]="data"
    [formValue]="form.value"
  ></app-item-view>

  <form [formGroup]="form">
    <app-select-control
      className="username"
      label="Prices"
      controlName="priceid"
      errorMessage="Price is Required"
      matIconPrefix="money"
      [dataOptions]="prices"
      [required]="true"
      [form]="form"
      [value]="data.content.priceid"
      selectValueAnchor="value"
    ></app-select-control>
    <app-textbox-number-control
      className="username"
      label="First Price"
      controlName="firstprice"
      errorMessage="First Price is Required!!"
      matPrefix="S/."
      matSuffix=".00"
      [form]="form"
      [required]="true"
    ></app-textbox-number-control>
    <app-textbox-number-control
      className="username"
      label="Aditional Price"
      controlName="aditionalprice"
      errorMessage="Aditional Price is Required!!"
      matPrefix="S/."
      matSuffix=".00"
      [form]="form"
      [required]="true"
    ></app-textbox-number-control>
    <app-textbox-control
      className="username"
      label="name"
      controlName="name"
      errorMessage="Name is Required!!"
      matIconPrefix="folder_shared"
      [form]="form"
      [required]="true"
    ></app-textbox-control>
    <app-checkbox-control
      [form]="form"
      controlName="status"
      label="status"
    ></app-checkbox-control>
    <app-textbox-control
      className="username"
      label="image"
      controlName="image"
      matIconPrefix="image"
      [form]="form"
    ></app-textbox-control>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button
    [disabled]="!form.valid"
    (click)="save()">Done</button>
  <button mat-button mat-dialog-close>Cancel</button>
</mat-dialog-actions>
