:host {
  width: 95%;
}


mat-dialog-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.space-between {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.space-around {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.inline-block {
  display: inline-block;
}

.space-around mat-hint {
  display: inline-block;
  width: 20%;
  text-align: center;
}

.quintil {
  width: 20%;
}

.row.reverse {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}


.pl-55 {
  padding-left: 55px;
}


