<h2>{{ data.title | titlecase }} Info</h2>
<mat-dialog-content>
  <app-item-view
    [data]="data"
    [formValue]="form.value"
  ></app-item-view>

  <form [formGroup]="form">
    <app-textbox-control
      className="username"
      label="name"
      controlName="name"
      errorMessage="Name is Required!!"
      matIconPrefix="folder_shared"
      [form]="form"
      [required]="true"
    ></app-textbox-control>
    <app-checkbox-control
      [form]="form"
      controlName="mine"
      label="mine"
    ></app-checkbox-control>
    <app-textbox-number-control
      className="username"
      label="latitude"
      controlName="latitude"
      errorMessage="Invalid Latitude, must be from -90° to 90°!!"
      matIconPrefix="language"
      [form]="form"
      matHintStart="From -90° to 90°"
      matSuffix="°"
      [min]="-90"
      [max]="90"
    ></app-textbox-number-control>
    <app-textbox-number-control
      className="username"
      label="longitude"
      controlName="longitude"
      errorMessage="Invalid Longitude, must be from -180° to 180°!!"
      matIconPrefix="trending_flat"
      [form]="form"
      matHintStart="From -180° to 180°"
      matSuffix="°"
      [min]="-180"
      [max]="180"
    ></app-textbox-number-control>
    <app-checkbox-control
      [form]="form"
      controlName="status"
      label="status"
    ></app-checkbox-control>
    <app-textbox-control
      className="username"
      label="image"
      controlName="image"
      matIconPrefix="image"
      [form]="form"
    ></app-textbox-control>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button
    [disabled]="!form.valid"
    (click)="save()">Done</button>
  <button mat-button mat-dialog-close>Cancel</button>
</mat-dialog-actions>
