mat-nav-list {
  width: 180px;
}

.active {
  background-color: #212121;
}

.active mat-icon {
  animation: 32s linear infinite spin;
}

@keyframes spin {
  0% {
    transform: rotate3d(1, 1, 1, 0deg);
  }
  20% {
    transform: rotate3d(1, 1, 1, 45deg);
  }
  31% {
    transform: rotate3d(1, 1, 1, 90deg);
  }
  42% {
    transform: rotate3d(1, 1, 1, 45deg);
  }
  53% {
    transform: rotateZ(1, 1, 1, 0deg);
  }
  64% {
    transform: rotate3d(1, 1, 1, -45deg);
  }
  75% {
    transform: rotate3d(1, 1, 1, -90deg);
  }
  86% {
    transform: rotate3d(1, 1, 1, -45deg);
  }
  100% {
    transform: rotateZ(1, 1, 1, 0deg);
  }
}
